* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display:flex;
    background-color: #5555;
    /*Always on the main axis:
    justify-content: end;*/
    /*Always on the cross axis:
    align-items:start;*/
    /*if you want to wrap items & also adds responsiveness
    flex-wrap:wrap;*/

}

.item {
    flex:1 0 0;
    height: 100px;
    background: #254de4;
    color: white;
    margin: 10px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.item:nth-of-type(1){

}

.item:nth-of-type(2){

}

.item:nth-of-type(3){
